.tk-19{
    display: flex;
    justify-content:space-between; 
    padding: 10px;
}

:hover.tk-19{
    background-color: #350d36;
}

.side-page{
    background-color: #3f0e40;
    color: white;
}

.page{
    display: flex;
}

.mainpage{
    display: flex;
}


.header{
    display: flex;
 
}


.foot{

}
   

.mentor{
    display: flex;
    border-radius: 5px 5px;
    border: solid;
    padding: 1em 15em;
    font-size: 1em;
    align-items: flex-end;
    margin-left: 1.5em;
    border-color: #aaaaaa;
    color: #a4a4a4;
}

.channel{
    border: none;
    background-color: white;
    font-size: 1.4em;
    font-style: unset;
    padding: 10px 20px;
}

ul{
    list-style: none;
}

#jump-to{
    background-color: #260027;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 6px;
    margin-left: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    width: 192px;
}

:hover#jump-to{

    background: rgb(28,0,29);
}

.top{
    display: flow-root;
}


.style{
    margin: 1px;
    margin-right: 15em;
}

#more-btn{
    display: flex;
    color: aliceblue;
    background-color: #007a5a;
    font-weight: 900;
    font-size: 13px;
    height: 28px;
    min-width: 56px;
    padding: 0 12px 1px;
    border-radius: 5px;
}